.section{
	position: relative;
	width: 100%;
	height: 100vh; 
	display: flex;
align-content: center;
justify-content: center;
overflow: hidden;
}
.section h1{

text-align: center;
	font-size: 3rem;
	z-index: 1;
	padding: 20px;
	margin: 15px;
	opacity: .6;
		text-decoration: none;
	color: floralwhite;
}
.section h1 a{
	text-decoration: !important;
	color: blue;
}
.video-container{
position: absolute;
top: 0;
left: 0;
width: 100%;

}